.Home {
  position: relative;
  display: flex;
  flex-direction: column;
  
  .shapes {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  }

  .circles{
    z-index: -2;
    position: absolute;
    top: 0;
    left:-10px;
    
  }

  .textcontainer {
    width: 1400px;
    padding: 40px;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 15%;
    top: 15%;
    font-size: 30px;

    .left {
      width: 800px;
      display: flex;
      flex-direction: column;

      .typed{
        color: #0db760;
        font-weight: 500 ;
      }
      h1 {
        font-weight: 500;
        color: black;
      }
      h3 {
        color: #0db760;
        font-weight: 600;
      }

      p {
        font-weight: 300;
      }
      .spancarrillo {
        font-weight: 200;
      }
      .btnheader {
        cursor: pointer;
        color: white;
        margin-top: 40px;
        margin-right: 25px;
        padding: 20px;
        background: #0db760;
        border: 2px solid #0db760;
        border-radius: 12px;
      }

      .btncontact {
        background-color: transparent;
        color: black;
      }
    }
    .right {
      display: flex;
      overflow: hidden;
      border-radius: 75% 25% 57% 26% / 67% 34% 66% 25%;
      justify-content: center;
      align-items: center;


        

      .imgcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 600px;
        background: #d9d9d9;
        background: -webkit-linear-gradient(0deg, #d9d9d9 0%, #ffffff 100%);
        background: linear-gradient(0deg, #d9d9d9 0%, #ffffff 100%);

        .img {
          width: 80%;
          height: 100%;
          object-fit: cover;
        }
      }

      
    }
  }
}
