.contact-container {
  width: 80vh;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url(../../assets/test3.svg);
  background-repeat:no-repeat ;
  background-position:right;
  background-size: contain;

  .contactTitle{
    display: flex;
    align-items: center;
    margin-top: 60px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 80px;
    gap: 10px;
    .contactTitle-2{
      margin-top: 15px;
      border-radius: 15px;
      padding: 7px;
      border: 1px solid #0db760;
    }
    strong{
      color: #0db760;
    }
  }
  .footer{
    margin-top: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    width: 100%;
    .right{
      display: flex;gap: 20px;
      
      .iconFooter{
        padding: 6px;
        justify-content: center;
        display: flex;
        align-items: center;
        background-color: #0db760;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  .container_row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    height: 50%;
    position: relative;
    .absolute {
      color: white;
      padding: 20px;
      border-radius: 8px;
      cursor: pointer;
      border: none;
      position: absolute;
      right: 0px;
      bottom:  -40px;
      z-index: 99;
      background-color: #0db760;
    }
    .izqContact {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      .callme {
        display: flex;
        gap: 18px;
        align-items: center;
      }
      .emailme {
        display: flex;
        gap: 18px;
        align-items: center;
      }
      .address {
        display: flex;
        gap: 18px;
        align-items: center;
      }
    }

    .derContact {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  form {
    width: 800px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;

    .input_container {
      width: 100%;
      display: flex;
      gap: 24px;

      .name {
        width: 400px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 0.3px solid #bec0bf;
        background-color: #ffffff;
      }
      .email {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 480px;
        height: 46px;
        background-color: #ffffff;
        border: 0.3px solid #bec0bf;
        border-radius: 8px;
      }

      input {
        width: 90%;
        height: 80%;

        border: none;
      }

      input::placeholder {
        font-size: 16px;
        text-align: start;
      }

      input:focus {
        outline: none;
        border: none;
      }
    }

    .desc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 500px;
      background-color: #ffffff;
      border: 0.3px solid #bec0bf;
      border-radius: 8px;

      textarea {
        border: none;
        width: 90%;
        height: 90%;
        text-align: start;
        resize: none;
      }
      textarea::placeholder {
        color: #92929d;
        font-size: 16px;
        text-align: start;
      }
      textarea:focus {
        outline: none;
        border: none;
      }
    }
  }

  .icon {
    display: flex;
    background-color: #0db760;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    border-radius: 15px;
  }
  h4 {
    color: #81818b;
    font-weight: 600;
  }
  .textContact {
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 8px;
  }
  p {
    font-weight: 600;
  }
}
