.Works {
  background-color: #0db760;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .leftArrow {
    cursor: pointer;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 200px;
    z-index: 99;
  }
  .rightArrow {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    right:  200px;
    cursor: pointer;
  }
  .Slider-works {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
    .container-works {
      height: 500px;
      width: 100vw;

      display: flex;
      justify-content: center;
      align-items: center;

      .items {
        width: 1000px;
        height: 100%;
        background-color: white;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        .izq-works {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 6;
          flex-direction: column;
          gap: 30px;
          h1{
            font-size: 50px;
          }
          p{
            font-weight: 600;
          }

        }
        .derecha-works {
          display: flex;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          flex: 8;
         
          img{
            object-fit:cover;
            object-position: left;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
